//colors

$color-primary: #D2FF2D;
$color-secondary: #9F7CFF;
$color-tertiary: #00f;
$color-gray: #f0f0f0;
$color-dark-gray: #f7f7f7;
$color-dash-gray: #B6B6B6;
$color-light-blue: #32F3FF;

$white: #fff;
$black: #000;
$light-yellow:#F0FFC6;

$sidebar-bg:rgb(255, 255, 255);

$icon-primary-hover:#F6F6F6;
