@use "common" as *;
.errorLabel {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 8px;
  color: red;
}

.emptyState{
  color:$color-natural-gray;
  transform: translate(15%,500%);
}