.inputControl {
  textarea,
  input {
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    max-width: 560px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;

    &::placeholder {
      color: #adadad;
    }
  }

  textarea {
    height: 180px;
    resize: none;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  input {
    height: 44px;
  }
  .errorText {
    font-size: 16px;
    font-weight: 700;
    color: red;
    margin-top: 4px;
  }
}
@media screen and (max-width: 768px) {
  .inputControl {
  
   
  input {
    height: 8vh;
    font-size: 1.3rem;
    padding:3vh 4vw ;
  }
 
}}