.landingPortal {
  background-color: #1b1b1b;

  h2 {
    color: #8f8f8f;
    font-size: 50px;

    @media screen and (max-width: 1400px) {
      font-size: 42px;
    }

    @media screen and (max-width: 991px) {
      font-size: 34px;
    }

    @media screen and (max-width: 767px) {
      font-size: 26px;
    }

    .rewarding {
      color: #d2ff2d;
    }

    .typeWriter {
      position: relative;
      color: #fff;

      .cursor {
        animation: cursor 1s ease infinite;
        -webkit-animation: cursor 1s ease infinite;
        font-size: 60px;
        font-weight: 100;

        @media screen and (max-width: 1400px) {
          font-size: 52px;
        }

        @media screen and (max-width: 991px) {
          font-size: 46px;
        }

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }
      }
    }

    @media screen and (min-width: 576px) {
      br.small {
        display: none;
      }
    }
  }

  .portal {
    img {
      width: 100%;
      height: unset;
    }
  }
}

@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
