@use "common" as *;

.logincontainer {
    display: flex;
    .rightsection {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px 100px;
        gap: 20px;
        .title {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 64.0111px;
            line-height: 74px;
            max-width: 470px;
        }

        .loginform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            padding-top: 30px;
            .link{
                cursor: pointer;
                border-bottom: 1px solid #9F7CFF;
                color: #9F7CFF;
            }
            .agreetext{                
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
            }
            .formwrapper{
                display: flex;
                flex-direction: column;
                gap: 20px;
                button{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 450px;
                    height: 55px;
                    background: #FFFFFF;
                    border: 1px solid #000000;
                    box-shadow: 4px 4px 0px $color-primary;
                    border-radius: 4px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 700;
                }
            }
        }

        .transformdivwrraper {
            width: 296px;
            height: 80px;
            left: 110px;
            top: 315px;
            text-align: center;
            display: flex;
            padding-left: 10px;
            align-items: center;
            background: $color-primary;
            border-radius: 0px 33px 33px 0px;
            transform: rotate(3.67deg);
            
            .transformText {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 47.7388px;
                line-height: 51px;
                 transform: rotate(3deg)
            }
        }
    }

    .leftsection {
        width: 50%;
        .imgcover {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}