.mainLayout {
  .mainContent {
    flex-grow: 1;
    padding: 30px 84px 0;
    margin-left: 7rem;
    min-height: 100vh;

    .navMin {
      .logo {
        .logoimage {
          display: block;
        }
      }
    }
    @media screen and (max-width: 1400px) {
      padding-left: 30px;
    }

    @media screen and (max-width: 1200px) {
      padding-right: 3rem;
      padding-left: 20px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media screen and (max-width: 575px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .navMin {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 992px) {
        display: none;
      }

      .hamburger {
        margin-left: auto;
        width: 24px;
      }
    }

    .content {
      margin-top: 50px;
      height: 100%;

      @media screen and (max-width: 1200px) {
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mainLayout {
    .mainContent {
      padding: 0vh 0 0;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-bottom: 20vh;
      .navMin {
        .logo {
          .logoimage {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 508px) {
  .mainLayout {
    .mainContent {
      margin-left: 3vw;
      margin-right: 3vw;
    }
  }
}
@media screen and (max-width: 390px) {
  .mainLayout {
    .mainContent {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }
}
