.mainLayout {
  display: flex;
  background: linear-gradient(135.49deg, #faf9ff 16.28%, #f7fffb 84.51%);

  .mainContent {
    flex-grow: 1;
    padding: 30px 84px 0;

    @media screen and (max-width: 1400px) {
      padding-left: 30px;
    }

    @media screen and (max-width: 1200px) {
      padding-right: 3rem;
      padding-left: 20px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media screen and (max-width: 575px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .navMin {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 992px) {
        display: none;
      }

      .hamburger {
        margin-left: auto;
        width: 24px;
      }
    }

    .content {
      margin-top: 50px;
      margin-left:10rem;

      @media screen and (max-width: 1200px) {
        margin-top: 30px;
      }
    }
  }
}
