@use "common" as *;
.container {
    padding-top: 50px;
    padding-left: 5px;

    .title{
      font-weight: bold;
    }

    .item {
        padding: 10px 25px;
        display: flex;
        align-items: center;
        border-radius: 57px;

        .text {
            margin-left: 20px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            
        }

        &:hover {
            // border: 1px solid $color-primary;
            box-shadow: 2px 2px 5px 0px rgba(113, 103, 140,0.15);
            cursor:pointer;
            transition: 0.3s ease;
        }
        &.selected {
            background-color: $light-yellow;
        }
    }

    .isActive {
        border-bottom: 1px solid #000000;

        .text {
            font-weight: 700;
        }
    }
}