@use 'common' as *;
.settings {
  max-width: 560px;
  padding-bottom: 50px;

  .headline4Div {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: black;
  }
  .emptyAddress {
    min-height: 112px;
    background-color: $color-dark-gray;
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 16px 30px 16px 30px;
    .leftView {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1;
    }
  }
  .emptyAddressText {
    margin-left: 10px;
  }
  .rowDiv {
    align-items: center;
    display: flex;
    flexdirection: row;
  }

  .nameTitle {
    font-weight: 700;
    font-size: 16px;
    color: $black;
    line-height: 21px;
    &.addressDescription {
      font-weight: 400;
      margin-bottom: 0px;
    }
  }

  .input {
    margin-bottom: 38px;
  }
  .emptySpace {
    flex: 1;
  }

  .inputRow {
    display: flex;
    gap: 44px;

    & > * {
      flex-grow: 1;
    }
  }
  .mainZipCode {
    width: 100%;
  }

  .iconStyle {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    border-width: 0px;
    cursor: pointer;
    background-color: transparent;
    :active {
      opacity: 0.5;
    }
  }

  .buttonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    @media screen and (max-width: 575px) {
      flex-direction: column;
      margin-top: 50px;
    }
  }
  .mainButtonContainer {
    justify-content: flex-start;
  }
  .otherThingDiv {
    margin-top: 12px;
  }
  .preferenceContainer {
    width: 100%;
    transition: 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .option {
      height: 30px;
      background-color: $color-gray;
      display: flex;
      cursor: pointer;
      border-width: 0;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      padding-left: 14px;
      padding-right: 14px;
      font-weight: 500;
      font-size: 14px;
      &.active {
        background-color: $color-primary;
      }
    }
  }
}
