.title {
  font-size: 1rem;
  font-weight: 600;
}

.shopproductleft {
  .deal {
    font-size: 0.8rem;
    margin-top: 4vh;
    width: 5vw;

    height: 30px;
  }
  .dealtext {
    color: darkgrey;
    font-size: 1rem;
    margin: 1vh 0;
  }
  .price {
    font-size: 2rem;
  }
  .redeem {
    padding: 2.5vh 0;
    font-size: 1rem;
  }
}
