@use 'common' as *;
.container {
    // background: linear-gradient(14.62deg, $color-secondary -57.64%, #FBFBFB 81.51%);
    background: #FBFBFB;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    padding: 40px;

        .buttonwrapper {
            padding: 100px 0px;

            .menubutton {
                padding: 5px 35px;
                background: #70FFC3;
                border: 1px solid #000000;
                border-radius: 44px;
            }
        }

        .textwrapper {
            .invite {

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 0.01em;
                color: #9F7CFF;
            }

            .help {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.01em;
                color: #000000;
            }
        }
    }