.uploaderInput {
  label {
    font-size: 18px;
    font-weight: 500;
    display: block;
  }

  .previews {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .previewWrap {
      // margin-bottom: 40px;
      cursor: pointer;
      height: 102px;
      width: 102px;

      .delete {
        opacity: 0;
        transition: 0.3s ease;
        height: 102px;
        width: 102px;
        position: absolute;
        top:32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

      }

      &:hover {
        .delete {
          opacity: 1;
        }
      }
    }
  }

  .uploaderWrap {
    min-height: 100px;

    .miniUploader {
      width: 102px;
      height: 102px;
      border: 1px dashed #000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .uploader {
      width: 100%;
      padding: 38px 0 28px;
      text-align: center;
      border: 1px dashed #000;
      border-radius: 4px;
      margin-top: 8px;
      cursor: pointer;

      .title {
        font-size: 18px;
        margin-bottom: 16px;
      }

      .subTitle {
        font-size: 14px;
        margin-bottom: 4px;
        color: #acacac;
      }
    }
  }
}
